Session3/Carvana/__pycache__
Session3/VOC/__pycache__
Session3/Carvana/model_2.pth.tar

Session4/data

FinalProject/ObjectDetection/data
FinalProject/ObjectDetection/__pycache__
FinalProject/raw_data
FinalProject/organized_data